<p appFundoAmarelo>
 paragrafo com fundo azul e letra branca
</p>

<button appBotaoPrimario>
  botão primary do bootstrap com estilo aplicado por diretiva customizada
</button>

<p appHighlightMouse>
  texto com highlight quando passo o mouse.
</p>

<p [appHighlight]="'orange'" [defaultColor]="'aqua'">
  texto com highlight quando passo o mouse.
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br><br>

<ng-template [ngElse]="mostrarCursos">
  <div>Não existem cursos para serem listados.</div>
</ng-template>